<section id="home">
  <div class="row justify-content-lg-center">
    <h2>Home</h2>
  </div>
  <div class="row">
    <div class="offset-lg-3">
      <div>This application has been created to test rendering of server-side-event rendering.</div>
      <div>Several documents have been used to develop this application:</div>
      <div>
        <ul>
          <li>
            <a href="https://medium.com/@chrisbautistaaa/server-sent-events-in-angular-node-908830cc29aa"
                target="_blank">
              Server Sent Events in Angular + Node
            </a>
          </li>
          <li>
            <a href="https://stackblitz.com/edit/angular-server-side-events"
            target="_blank">
              Server Side Events
            </a>
          </li>
          <li>
            <a href="https://dzone.com/articles/html5-server-sent-events"
              target="_blank">
              HTML5: Server-sent events with Angular.js, Node.js and Express.js
            </a>
          </li>
          <li>
            <a href="https://blog.octo.com/angular-2-sse-et-la-detection-de-changements/"
              target="_blank">
              Angular 2, SSE et la détection de changements
            </a>
          </li>
          <li>
            <a href="https://stackoverflow.com/questions/36827270/creating-an-rxjs-observable-from-a-server-sent-eventsource"
              target="_blank">
              Creating an RxJS Observable from a (server sent) EventSource
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
